@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-minimalist {
  background-color: #161616;
  background-image: radial-gradient(rgba(51, 51, 51, 0.3) 1px, transparent 1px),
    radial-gradient(rgba(51, 51, 51, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 0px 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.animated-text {
  animation: zoomIn 2s;
  color: #ccc;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
