@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-minimalist {
  background-color: #161616;
  background-image: radial-gradient(rgba(51, 51, 51, 0.3) 1px, transparent 1px),
    radial-gradient(rgba(51, 51, 51, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 0px 0px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
